*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(148, 148, 143);
}
a{
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(63, 63, 63);
    font-size: 10px;
    
}
.ref-icons8{
    display: flex;
    flex-direction: row-reverse;
}
.main-container{
    width: 100%;
    margin: auto;
}
.languages-known{
    display:flex;
    right: auto;
    justify-content:right;
    flex-direction: row-reverse;
}
.img-container{
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: auto;    
}
.message-banner{
    color: rgb(88, 88, 88);
    font-family: 'Roboto Condensed', sans-serif;
}
.message-announce{
    font-family: 'Dancing Script', cursive;
}
